/* Customize the scrollbar track */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
  height: 12px; /* Height of the scrollbar for horizontal scrolling */
}

/* Customize the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #fefae0; /* Color of the thumb */
  border-radius: 10px; /* Round the edges of the thumb */
  border: 3px solid #8d8c8c; /* Border around the thumb */
}

/* Customize the scrollbar track (background part of the scrollbar) */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.25); /* Color of the track */
  border-radius: 10px; /* Round the edges of the track */
}

/* Customize the scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #bc6c25; /* Change color when hovered */
}

.bg-primary,
.btn-primary {
  background-color: rgba(255, 255, 255, 0.25) !important;
}

.btn-primary {
  border: 0;
}

body {
  background: hsla(88, 38%, 15%, 1);
  background: linear-gradient(
    135deg,
    hsla(88, 38%, 15%, 1) 0%,
    hsla(74, 32%, 32%, 1) 100%
  );
}

#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#heroBtn,
.cardBtn {
  padding: 8px 20px;
  border-radius: 20px;
}
